@import url(http://fonts.googleapis.com/css?family=Abel);
html { background-color: black; }
body { background-color: white; font-family: 'Walter Turncoat', arial, serif; }
section > * { position: absolute; }

section { left: -150%; }
section[aria-selected] { left: 0; }
section[aria-selected] ~ section { left: +150% }

h1 {
	top: 200px;
	font-size: 70px;
	width: 100%;
	text-align: center;
}
ul {
	top: 50px;
	left: 200px;
	font-size: 50px;
	list-style-type: none;
}
ul li span {
	display: inline-block;
	width: 80px;
	text-align: center;
	color: white;
	background-color: black;
}

footer { display: block;
	text-align: right;
	font-style: normal;
	font-size: 25px;
	bottom: 10px; right: 20px;
}

a { color: #444!important; text-decoration: none; }
a:hover {text-decoration: underline;}


.aturtle img {
	top: 70px;
	left: 10px;
	width: 360px;
}

.aturtle h1 {
	width: auto;
	top: 60px;
	left: 400px;
	font-size: 50px;
}


.chapter {background-color: black;color: white;}

.imgleft h1 {
	left: 390px;
	bottom: 40px;
	top: auto;
	width: auto;
	text-align: center;
	font-size: 45px;	
}
.imgleft span {
color:#33B5E5;
}
.imgc{
width:70%;
padding: 15% 15% 0% 15%;
}
.only h2{
	color:#33B5E5;
	text-align: center;
	font-size: 45px;
}
.imgleft h1 strong {
	color: white;
	background-color: black;
	margin: 0 10px 0 10px;
	padding: 0 10px 0 10px;
	font-size: 100px;
	display: block;
	text-align: center;
	width: 350px;
}
.imgleft img:first-of-type {
	top: 10px;
	left: 10px;
	border: 4px solid black;
	height: 570px;
	min-width: 350px;
}
.imgleft img:nth-of-type(2) {
	right: 50px; left: auto;
	height: auto;
	width: 300px;
	border: none;
	top: auto;
	bottom: 300px;
}

#intro h1 {
	right: 20px;
	top: 70px; left: 450px;
	bottom: auto;
	font-size: 30px;
}
#intro h2 {
	left: 460px;
	right: 20px;
	bottom: 150px;
	color: white;
	background-color: black;
	padding: 0 10px 0 10px;
	font-size: 20px;
	text-align: center;
}

.aturtle strong {
	background-color: black;
	color: white;
	display: block;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
}

.aturtle p {
	top: 140px;
	font-size: 25px;
	left: 400px;
	right: 20px;
}

.video {
	background-color: black;
}
.video video {
	top: 0; left: 0;
	width: 800px;
	height: 600px;
}

#end * { left: 440px; }
#end h1 {
	width: auto;
	top: 50px;
	left: 550px;
	font-size: 50px;
}
#credits h2 {
	top: 60px;
	font-size: 30px;
}
#credits {
	top: 200px;
}
#credits li {
	font-size: 20px;
	margin-left: 10px;
}
#end img {
	top: 20px;
	left: 20px;
	border: 4px solid black;
	height: 560px;
}

/* Transition effect */
/* Feel free to change the transition effect for original
 animations. See here:
 https://developer.mozilla.org/en/CSS/CSS_transitions
 How to use CSS3 Transitions: */
section {
  -moz-transition: left 400ms linear 0s;
  -webkit-transition: left 400ms linear 0s;
  -o-transition: left 400ms linear 0s;
  -ms-transition: left 400ms linear 0s;
  transition: left 400ms linear 0s;
}

/* Before */
section { left: -150%; }
/* Now */
section[aria-selected] { left: 0; }
/* After */
section[aria-selected] ~ section { left: +150% }

